:root{
    --main-bg-color: rgb(148, 7, 7);
  }
  
html {
    scroll-behavior: smooth;
}

#about{
    background-image: linear-gradient(0deg, rgba(63, 55, 55, 0.4), rgba(59, 51, 51, 0.2)),url("../imgs/jal-mahal.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about-info{
    color: white;
    background-color: rgba(255, 255, 255, 0.295);
    border-radius: 20px;
}

.activeLink{
    font-weight: bolder;
}

.navItems ul li{
    transition: all 0.05s ease-in-out;
}

.navItems ul li:hover{
    font-size: large;
    color: var(--main-bg-color);    
}

.city-card {
    transition: 0.3s;
}

.city-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 40px -10px green;
}
