.content-things {
    font-family: var(--font4);
    padding: 20px 70px;
    margin-bottom: 30px;
}

.top {
    margin-bottom: 30px;
    text-align: center;
}

.top h1{
    color: var(--main-bg-color);
}

.top p{
    margin: 30px 0;
}

.things{
    background-color: cornsilk;
    border-radius: 20px;
    padding: 30px 50px;
    margin: 30px 0;
}

.things h2{
    text-align: center;
}

.imgs {
    text-align: center;
    margin: 15px 0;
}

.things p{
    margin: 15px 0;
}
