@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
:root {
    --main-bg-color: rgb(148, 7, 7);
    --font1: 'Baloo Bhaina 2', cursive;
    --font2: 'Roboto', sans-serif;
    --font3: 'Dancing Script', cursive;
    --font4: 'Nanum Gothic', sans-serif; 
  }

.max-width-1{
    max-width: 90vw;
}

.max-width-2{
    max-width: 60vw;
}

.m-auto{
    margin: auto;
}

.active{
   font-weight: bolder;
}

.enquiry-btn {
    color: white;
    background-color: orange;
    padding: 2px 15px;
    padding-top: 3px;
    border: none;
    border-radius: 10px;
    font-family: var(--font1);
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
    transition: all 0.2s ease-in-out;
}

.enquiry-btn:hover {
    color: black;
    background: gray;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
}

.btn {
  color: white;
  background-color: var(--main-bg-color);
  padding: 2px 15px;
  padding-top: 3px;
  border: none;
  border-radius: 10px;
  font-family: var(--font1);
  font-size: 16px;
  cursor: pointer;
  box-shadow: #555;
  transition: all 0.2s ease-in-out;
  }

  .btn:hover {
    color: black;
    background: pink;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
  }

.form-input{
    padding: 0px 5px;
    padding-top: 3px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0 13px;
    font-family: var(--font1);
}





/* contact */

.c-align{
  display: flex;
  justify-content: center;
  font-family: var(--font2);
  margin: 60px 25px;
  /* background-color: red;
  height: 100%; */
}



.c-left{
    /* width: 40%; */
    padding: 124px 56px;
    padding-right: 200px;
    /* background-color: blue; */
    text-align: center;
}

.c-left span{
    text-align: center;
    font-size: xx-large;
}

#big{
    font-weight: bolder;
    font-size: xx-large;
}

  .c-logo {
    border-radius: 5px;
    text-align: center;
    padding-left: 100px;
    /* width: 500px; */
    /* background-color: yellow; */
  }

  .c-logo img {
    filter: brightness(-100%);
  }

  .c-logo h1 {
    font-size: xx-large;
  }




  /* Footer */
.footer{
    display: flex;
    justify-content: center;
    font-family: var(--font2);
    height: 100px;
    background-color:var(--main-bg-color);
}

.footer .handles{
    margin: 34px 25px;
}

.footer .handles span i{
    color: white;
    font-size: x-large;
    cursor: pointer;
    margin: 4px 7px;
}

.footer .handles span i:hover{
    color: silver;
}


/* BackToTop Btn */
#TopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:#8ab92d;
    color: white;
    cursor: pointer;
    padding: 17px;
    border-radius: 30px;
  }
  
  #TopBtn:hover {
    background-color: #555;
  }  